In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

print(tf.__version__)

2.4.1

In [5]:
raw_dataset = pd.read_csv("files_relevant/all_matches.tsv", sep = '\t')

dataset = raw_dataset.copy()
dataset.tail()

,Unnamed: 0,venue,innings,ball,batting_team,bowling_team,batsmen,bowlers,runs
1619,995,Shaheed Veer Narayan Singh International Stadium,2,5.6,Delhi Daredevils,Sunrisers Hyderabad,"JP Duminy,Q de Kock,SS Iyer","Parvez Rasool,P Kumar,B Kumar,I Sharma",49
1620,996,Wankhede Stadium,1,5.6,Royal Challengers Bangalore,Mumbai Indians,"CH Gayle,V Kohli,AB de Villiers","JJ Bumrah,MJ McClenaghan,J Suchith,SL Malinga",39
1621,997,Wankhede Stadium,2,5.6,Mumbai Indians,Royal Challengers Bangalore,"PA Patel,LMP Simmons,RG Sharma","S Aravind,MA Starc,D Wiese,HV Patel",45
1622,998,MA Chidambaram Stadium,1,5.6,Chennai Super Kings,Rajasthan Royals,"DR Smith,SK Raina,BB McCullum,F du Plessis","PV Tambe,CH Morris,SR Watson,Ankit Sharma",36
1623,999,MA Chidambaram Stadium,2,5.6,Rajasthan Royals,Chennai Super Kings,"SR Watson,SPD Smith,AM Rahane","A Nehra,MM Sharma",40

In [7]:
dataset = dataset.drop(columns = ["batting_team", "bowling_team"])
dataset.tail()

,Unnamed: 0,venue,innings,ball,batsmen,bowlers,runs
1619,995,Shaheed Veer Narayan Singh International Stadium,2,5.6,"JP Duminy,Q de Kock,SS Iyer","Parvez Rasool,P Kumar,B Kumar,I Sharma",49
1620,996,Wankhede Stadium,1,5.6,"CH Gayle,V Kohli,AB de Villiers","JJ Bumrah,MJ McClenaghan,J Suchith,SL Malinga",39
1621,997,Wankhede Stadium,2,5.6,"PA Patel,LMP Simmons,RG Sharma","S Aravind,MA Starc,D Wiese,HV Patel",45
1622,998,MA Chidambaram Stadium,1,5.6,"DR Smith,SK Raina,BB McCullum,F du Plessis","PV Tambe,CH Morris,SR Watson,Ankit Sharma",36
1623,999,MA Chidambaram Stadium,2,5.6,"SR Watson,SPD Smith,AM Rahane","A Nehra,MM Sharma",40

In [8]:
venue_lookup = pd.read_csv("venue.csv")
batsmen_lookup = pd.read_csv("batsmen.csv")
bowlers_lookup = pd.read_csv("bowlers.csv")

venue_lookup

    Unnamed: 0                                              venue       runs
0            0                              M Chinnaswamy Stadium  46.294118
1            1                             Sawai Mansingh Stadium  45.042553
2            2                                       Eden Gardens  46.137255
3            3                 Rajiv Gandhi International Stadium  45.291339
4            4   Shaheed Veer Narayan Singh International Stadium  38.333333
5            5       Punjab Cricket Association IS Bindra Stadium  48.428571
6            6                                   Wankhede Stadium  45.503401
7            7                                  Brabourne Stadium  51.863636
8            8            Maharashtra Cricket Association Stadium  47.452381
9            9                 JSCA International Stadium Complex  38.785714
10          10             Saurashtra Cricket Association Stadium  55.300000
11          11                                   Feroz Shah Kotla  47.683761
12          12  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...  40.961538
13          13                                         Green Park  55.000000
14          14                         Dr DY Patil Sports Academy  42.323529
15          15                                           Newlands  38.692308
16          16                             Holkar Cricket Stadium  51.722222
17          17                                   St George's Park  44.785714
18          18                                          Kingsmead  45.933333
19          19                             MA Chidambaram Stadium  46.406780
20          20                               Arun Jaitley Stadium  50.678571
21          21                                    SuperSport Park  45.250000
22          22                               Sheikh Zayed Stadium  43.672414
23          23                Dubai International Cricket Stadium  44.712121
24          24                            Sharjah Cricket Stadium  47.027778
25          25                                       Buffalo Park  39.500000
26          26                              New Wanderers Stadium  41.875000
27          27                              De Beers Diamond Oval  40.000000
28          28                                    OUTsurance Oval  33.500000
29          29                               Sardar Patel Stadium  46.958333
30          30                                   Barabati Stadium  43.571429
31          31               Vidarbha Cricket Association Stadium  44.166667
32          32       Himachal Pradesh Cricket Association Stadium  40.555556
33          33                                      Nehru Stadium  39.800000
34          34                         Subrata Roy Sahara Stadium  41.882353

In [9]:
batsmen_lookup

     Unnamed: 0               Name  Runs_per_ball
0             0         SC Ganguly       0.918560
1             1        BB McCullum       1.221870
2             2         RT Ponting       0.497958
3             3           W Jaffer       0.827737
4             4           R Dravid       1.083831
..          ...                ...            ...
280         280         RD Gaikwad       1.052225
281         281            PK Garg       1.416667
282         282          JO Holder       1.000000
283         283  Washington Sundar       1.000000
284         284         RM Patidar       1.000000

[285 rows x 3 columns]

In [10]:
bowlers_lookup

     Unnamed: 0         Name  Runs_per_ball
0             0      P Kumar       1.187237
1             1       Z Khan       1.060223
2             2    AA Noffke       3.285714
3             3     AB Dinda       1.251387
4             4     I Sharma       1.282169
..          ...          ...            ...
341         341     CJ Green       1.090909
342         342      DR Sams       1.544444
343         343   Monu Kumar       0.875000
344         344  KA Jamieson       0.583333
345         345     M Jansen       2.000000

[346 rows x 3 columns]